rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is an admin
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email == 'info@hemiolia.cat' || 
         request.auth.token.email == 'admin@hemiolia.cat' || 
         request.auth.token.email == 'jordibonillajulia@gmail.com' || 
         firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }

    // Helper function to check if the user has CRM access
    function isCrmAgent() {
      return request.auth != null && 
        (request.auth.token.email == 'unaonadapetitona@gmail.com' || 
         firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'crm');
    }

    match /{allPaths=**} {
      allow read: if isAdmin() || isCrmAgent();
      allow write: if isAdmin();
    }
  }
}
